n8n_workflows/climatrack-ai-workflow.json
{
  "name": "climatrack-functional-ai",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clima-alerta",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -600,
        200
      ],
      "id": "webhook1",
      "name": "Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "name": "tipo", "value": "={{$json.body && $json.body.tipo ? $json.body.tipo.toLowerCase() : ($json.tipo || 'alerta')}}", "type": "string" },
            { "name": "fecha", "value": "={{$json.body && $json.body.fecha ? $json.body.fecha : (new Date().toISOString())}}", "type": "string" },
            { "name": "descripcion", "value": "={{$json.body && $json.body.descripcion ? $json.body.descripcion : ($json.descripcion || '')}}", "type": "string" },
            { "name": "recipients", "value": "={{ ($json.body && $json.body.recipients) ? $json.body.recipients : ($json.recipients ? $json.recipients : ($json.body && $json.body.phone ? [$json.body.phone] : [])) }}", "type": "array" },
            { "name": "name", "value": "={{$json.body && $json.body.nombre ? $json.body.nombre : ($json.name || 'Productor/a')}}", "type": "string" },
            { "name": "reportMessage", "value": "={{$json.body && $json.body.descripcion ? $json.body.descripcion : ($json.reportMessage || '')}}", "type": "string" },
            { "name": "canal", "value": "={{$json.body && $json.body.canal ? $json.body.canal : ($json.canal || 'email')}}", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -360,
        200
      ],
      "id": "set1",
      "name": "Validar firma"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list"
        },
        "responses": {
          "values": [
            {
              "content": "Genera SOLO un JSON en español que contenga los campos exactos: subject, email_html, sms_text, telegram_text, nivel.\n\nEntradas disponibles en $json: nombre, fecha, descripcion, tipo, recipients (array), canal.\n\nRestricciones:\n- sms_text debe tener como máximo 160 caracteres y ser muy directo.\n- email_html debe ser HTML válido y adaptado para correo (legible en móviles).\n- telegram_text debe ser amigable y usar emojis agrícolas.\n- nivel debe ser una de: leve | moderado | critico.\n\nDevuelve SOLO el JSON (sin explicaciones)."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -40,
        200
      ],
      "id": "openai1",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "ATn2LPNNsgzF04MI",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "conditions": [ { "leftValue": "={{$json.canal}}", "rightValue": "email", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" } },
            { "conditions": { "conditions": [ { "leftValue": "={{$json.canal}}", "rightValue": "sms", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" } },
            { "conditions": { "conditions": [ { "leftValue": "={{$json.canal}}", "rightValue": "telegram", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" } }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        220,
        200
      ],
      "id": "switch1",
      "name": "Ruteo de Canal"
    },
    {
      "parameters": {
        "fromEmail": "climatrack0@gmail.com",
        "toEmail": "=={{ $json.recipients && Array.isArray($json.recipients) ? $json.recipients[0] : $json.recipients }}",
        "subject": "={{$json.subject}}",
        "html": "={{$json.email_html}}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        500,
        80
      ],
      "id": "send_email",
      "name": "Enviar email"
    },
    {
      "parameters": {
        "from": "+17755263498",
        "to": "={{ $json.recipients && Array.isArray($json.recipients) && $json.recipients.length>0 ? $json.recipients[0] : ($json.recipients || $json.phone || '') }}",
        "message": "={{ $json.sms_text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        500,
        260
      ],
      "id": "send_sms",
      "name": "Send SMS/WhatsApp",
      "credentials": {
        "twilioApi": {
          "id": "a2RyTJW3pd2YMZTV",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "72802498",
        "text": "={{$json.telegram_text}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        500,
        420
      ],
      "id": "send_telegram",
      "name": "Enviar Telegram",
      "credentials": {
        "telegramApi": {
          "id": "seJ1gYoznOCc9WCr",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": { "main": [ [ { "node": "Validar firma", "type": "main", "index": 0 } ] ] },
    "Validar firma": { "main": [ [ { "node": "Message a model", "type": "main", "index": 0 } ] ] },
    "Message a model": { "main": [ [ { "node": "Ruteo de Canal", "type": "main", "index": 0 } ] ] },
    "Ruteo de Canal": { "main": [ [ { "node": "Enviar email", "type": "main", "index": 0 } ], [ { "node": "Send SMS/WhatsApp", "type": "main", "index": 0 } ], [ { "node": "Enviar Telegram", "type": "main", "index": 0 } ] ] },
    "Enviar email": {},
    "Send SMS/WhatsApp": {},
    "Enviar Telegram": {}
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "id": "climatrack-ai-workflow"
}
